/**
 * normal setting
 */
body{
    font-size: 30px;
    text-align: center;
}
ul{
    list-style-type: none;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 40px;
    text-align:left;
}
h3 {
    font-size: 30px;
    text-align:left;
}
.center_block{
    width:800px;
    padding:20px 0;
    margin:0 auto;
}
.center_block ul{
    text-align: left;
}
.center_block li{
    line-height: 200%;
}
.center_block li span{
    color: white;
    background-color: black;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
}
/**
 * for focus.html
 */
#focus_block{
    padding:1px;
    margin:0;
}

/**
 *for download.html     
 */
#download li{
    line-height:120%;
}
/**
 * for picture.html
 */

#album{
    text-align: center;
}
#album li{
    margin:20px;
}

#album img{
    box-shadow:0 0 2px #010101;
    border: 2px solid white;   
}
