/**
 *Normal setting
 * f4f5ef
 */
body{
    color:black;
    background:#f0f0f0;
    font-size: 20px;
    text-align:center;
}
/**
 *Article setting     
 */

h1 {
    font-size: 40px;
    text-align:center;
}
h2 {
    font-size: 30px;
    color:#999;
    text-align:left;
}
h3 {
    font-size: 20px;
    color:#999;
    text-align:left;
}
article{
    margin:0 auto;
    max-width:900px;
    padding:10px;
    text-align:left;
}

ul{
    list-style-type: none;
}
li{
    line-height: 200%;
}
/**
 *Navigation
 */
.nav_link{
    margin:20px;
}
.nav_link span{  
    font-size: 20px;
    text-align:center;
    color:white;
    background: #5BB75B;
    padding: 10px 20px;
    border-radius: 10px;
}
.nav_link a{
    color:white;
    background: #5BB75B;
}