$def with(todos)
$:render.header()
<!--
 *@name:About Me
 *@note:show the myself
 *
 -->
<div class="blue">
	<a name="aboutme"></a>
	<div class="center_block">
		<h1><img src="/static/img/aboutme.png" alt="paladin"/>About Me</h1>
		<ul>
			<li>
				<span>Position:</span>Soft Development Engineer
			</li>
			<li>
				<span>Company:</span>Aqiyi,Peking,since 2013.2
			</li>
			<li>
				<span>Focus:</span>Python/NoSQL/Linux/C++/KnowledgeDiscovery
			</li>
			<li>
				<span>University:</span>HUST.Wuhan.Hubei(2009.9-2013.6)
			</li>
			<li>
				<span>Hometown:</span>Punning.Guangdong
			</li>
			<li>
				<span>E-mail:</span>1032197148@qq.com
			</li>
		</ul>
	</div>
</div>
$:render.foot()
